.movie__headline
  padding: 0 10px

.star
  position: relative
  display: inline-block
  font-size: 1.3rem

.full
.half
  position: absolute
  display: inline-block
  overflow: hidden

.text-warning
  color: #ff902b !important
