<div class="container" *ngIf="movie">
  <br />
  <div class="d-flex flex-wrap align-content-center justify-content-start">
    <div class="movie__thumbnails">
      <img
        style="max-height: 500px;"
        [src]="movie.Poster"
        onerror="this.onerror=null; this.src='assets/images/poster_not_available.PNG'"
      />
    </div>
    <div class="movie__headline align-self-end">
      <h2>{{ movie.Title }}</h2>
      <br />
      <i>Runtime: {{ movie.Runtime }}</i>
      <br />
      <b>Released: {{ movie.Year }}</b>
      <br />
      <h6>Type: {{ movie.Type.toLocaleUpperCase() }}</h6>
      <i>Genre: {{ movie.Genre }} </i>
      <br />
      <i>IMDb Rating: {{ movie.imdbRating }}</i>
      <br />
      <ng-template #t let-fill="fill">
        <span class="star" [class.full]="fill === 100">
          <span class="half" [style.width.%]="fill">&#10059;</span>&#10059;
        </span>
      </ng-template>

      <ngb-rating
        [(rate)]="movie.imdbRating"
        [starTemplate]="t"
        [readonly]="true"
        max="10"
      ></ngb-rating>
    </div>
  </div>
  <hr />
  <div>
    <p>
      <b>Plot: </b>
      {{ movie.Plot }}
    </p>
  </div>
  <br />
  <div class="row justify-content-center">
    <div class="col-xl-3 col-lg-4 col-md-5">
      <button mat-raised-button class="btn-block btn-secondary" (click)="backToSearch()">
        Back to Search Result
      </button>
    </div>
    <div class="col-xl-3 col-lg-4 col-md-5">
      <button mat-raised-button class="btn-block btn-secondary" routerLink="/movies">
        Go to Home
      </button>
    </div>
  </div>
</div>
